* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icons {
  display: flex;
  gap: 14px;
}

i {
  color: #fefbff;
  font-size: 32px;
}

.header-icons a:hover i {
  color: #d34040;
  animation: subir 0.8s infinite alternate;
  transition: all 0.8s ease-in-out;
}

.header-button {
  border: 1px solid #fefbff;
  padding: 8px 24px;
  color: #fefbff;
  background-color: transparent;
  transition: all 0.8s ease-in-out;
  border-radius: 5px;
}

.header-button:hover {
  border: 1px solid #d34040;
  background-color: #d34040;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@keyframes subir {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 14px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../bg.svg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.hero {
  color: #fefbff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-transform: uppercase;
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 46px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}
.hero .btn-contact {
  padding: 14px 28px;
  color: #fefbff;
  background-color: #d94140;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
  border-radius: 5px;
}
.hero .btn-contact:hover {
  animation: scaleButton 0.8s infinite alternate;
}
@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    width: 100%;
    font-size: 34px;
    padding: 0 14px;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
  .hero p {
    width: 200px;
    font-size: 12px;
    word-wrap: break-word;
    line-height: 150%;
    color: #b42b2b;
  }
}
.about {
  background-color: #06121e;
  overflow: hidden;
  color: #fefbff;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about-content img {
  max-width: 570px;
}
.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}
.about-description .aviso {
  text-align: right;
}
.about-description .aviso > strong {
  color: #b42b2b;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    padding: 10px 20px 60px 20px;
    gap: 40px;
  }
  .about-content .aviso strong {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .aviso {
    background-color: #fefbff;
    color: #232224;
    padding: 14px;
    border-radius: 5px;
    width: 100%;
    word-wrap: break-word;
  }
  .aviso strong {
    font-size: 30px;
  }
}
.services {
  width: 100%;
  background-color: #fefbff;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}
.services-content p {
  line-height: 150%;
  margin-bottom: 30px;
  text-align: center;
  max-width: 780px;
}

.haircuts {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 22px;
  padding: 0 44px 34px 44px;
}

.haircut {
  min-height: 480px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fefbff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.5);
}
.haircut img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.8s ease-in-out;
}
.haircut img:hover {
  cursor: pointer;
  transform: scale(1.2);
  z-index: 1;
}

.haircut-info {
  background-color: #fefbff;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
  padding: 14px;
}
.haircut-info h3 {
  color: #b42b2b;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.haircut-info p {
  word-wrap: break-word;
  font-size: 12px;
  margin-bottom: 14px;
  line-height: 150%;
}
.haircut-info span {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  font-weight: 600;
  font-size: 20px;
}
.haircut-info .btn-price {
  display: inline-flex;
  background-color: transparent;
  padding: 7px 14px;
  color: #b42b2b;
  border-radius: 30px;
  transition: all 0.8s ease-in-out;
  border: 1px solid #b42b2b;
}
.haircut-info .btn-price:hover {
  background-color: #b42b2b;
  color: #fefbff;
  transform: translateX(-6px);
}

@media screen and (max-width: 768px) {
  .haircuts {
    display: grid;
    grid-template-columns: 1fr;
  }
}
footer {
  padding: 30px 0;
  background-color: #06121e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  color: #fefbff;
}

@media screen and (max-width: 480px) {
  footer {
    padding: 20px;
  }
  footer p {
    text-align: center;
    font-size: 14px;
  }
}
body {
  font-family: "Sora", sans-serif;
  background-color: #06121e;
  width: 100%;
  height: 100vh;
  position: relative;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */